table{
    border:3px  solid black;
    border-collapse: collapse;
    width: 650px;
}
.the-first{
    color: red;
    font-size: 30px;
    font-weight: bold;
    background-image: url(https://i.pinimg.com/736x/c5/57/90/c55790c064090a0fb9f251c8d3436b74.jpg);
    height: 230px;
    text-align: center;
    align-content: center;
}
.link{
    text-decoration: none;
    float: right;
    color: green;
    font-style: italic;
}
.noidung{
    background-color: rgb(236, 145, 81);
    word-spacing: 5px;
}
